@import "black-lotus.css";

* {
    /* all: initial; */
    font-family: BlexMono Nerd Font;
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background: transparent;
}

window > box {
    margin-top: 7px;
    border-radius: 10px;
    border: double 4px transparent;
    background-image: linear-gradient(@bgalt, @bgalt),
                      linear-gradient(45deg, @bright-magenta, @bright-blue);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#custom-intel-cpu-temp,
#custom-amd-gpu-temp,
#memory,
#network,
#pulseaudio,
#clock,
#tray,
#workspaces {
    border: double 2px transparent;
    border-radius: 5px;
    background-image: linear-gradient(@bgalt, @bgalt),
                      linear-gradient(45deg, @bright-magenta, @bright-blue);
    background-origin: border-box;
    background-clip: content-box, border-box;

    margin-top: 6px;
    margin-bottom: 6px;
}

#workspaces button {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 0px;
    padding-bottom: 0px;

    border-radius: 3px;
    background-color: @bgalt;
    color: @bright-magenta;

    border: none;
}

#workspaces button.persistent {
    color: @fg;
    background-color: @bgalt;
}

#workspaces button.active {
    color: @bright-magenta;
    background-color: @bright-blue;
}
